@import "./composant/navigation.css";
@import "./composant/grow-effect.css";

.btn-primary {
    background-color: #0078c2;
}

.btn-outline-primary {
    border: 1px solid #0078c2;
    color: #0078c2;
}

.btn-outline-primary:hover {
    background-color: #0078c2;
    color: white;
}

main {
    min-height: 80vh;
}

.max-1200 {
    max-width: 1200px;
    margin: 0 auto;
}

.inactive {
    display: none;
}

.active {
    display: flex;
}

.btn-primary {
    background-color: #0078c2;
}

.btn-primary:hover {
    background-color: #035d96;
}

/* All pagination links grey */
.pagination .page-link {
    color: #6c757d; /* Bootstrap gray */
    background-color: #f8f9fa; /* light gray background */
    border: 1px solid #dee2e6; /* border */
}

/* Hover effect */
.pagination .page-link:hover {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

/* Active page */
.pagination .page-item.active .page-link {
    background-color: #0078c2;
    border-color: #0078c2;
    color: white;
}

/* Disabled page */
.pagination .page-item.disabled .page-link {
    color: #adb5bd;
    pointer-events: none;
    background-color: #f8f9fa;
    border-color: #dee2e6;
}

.card {
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.sliding-card-footer {
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    transition: bottom 0.3s ease;
    background-color: #f8f8f8;
}

.card:hover .sliding-card-footer {
    bottom: 0;
}

.card-title {
    margin: 0;
}
.card-title > span {
    font-weight: bold;
}
