@import "./composant/navigation.css";
@import "./composant/grow-effect.css";

main {
    min-height: 80vh;
}

.max-1200 {
    max-width: 1200px;
    margin: 0 auto;
}

.inactive {
    display: none;
}

.active {
    display: flex;
}

.btn-primary {
    background-color: #0078c2;
}

.btn-primary:hover {
    background-color: #035d96;
}
